body{
    margin-left: 350px;
    margin-right: 350px;
    text-align: center;
}
#intro{
    margin-top: 150px;
    padding: 10px;
    background-color: rgb(198, 236, 236);
    border: 5px solid rgb(101, 122, 161);
    border-radius: 10px;
}
button:active{
    color: rgb(46, 0, 250);
}
h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button{
    cursor: pointer;
}

@media screen and (max-width: 600px){
    body{  
    margin-left: 0px;
    margin-right: 0px;
    }
} 